/* 
========
Variables
========
*/

:root {
    --backgroundColor: whitesmoke;
    --backgroundColorTwo: rgb(0, 0, 0);
    --hoverColor: rgb(180, 226, 255);
    --primaryColor: rgba(0, 0, 0, 0.85);
    --secondaryColor: rgb(30, 169, 255);
    --primaryFont: Calibri, Verdana, sans-serif;
    --transition: all 0.5s linear;
}





/* 
========
Global Styles
========
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--backgroundColor);
    color: var(--primaryColor);
    font-family: var(--primaryFont);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 1.5;
    color: var(--secondaryColor);
}

ul {
    list-style-type: none;
}





/* 
========
Header
========
*/

@media only screen and (max-width: 650px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        position: -webkit-sticky;
        position: sticky;
        top: 0;

        background-color: var(--backgroundColorTwo);
        z-index: 1;
    }

    header nav {
        min-width: 50vw;
    }

    header nav ul {
        display: flex;
        justify-content: space-between;
    }

    header nav ul li {
        transition: var(--transition);
        cursor: pointer;
    }

    header nav ul li:hover {
        transition: var(--transition);
        color: var(--hoverColor);
    }

    .nav-list {
        display: none;
    }

    .navbar {
        display: flex;
        justify-content: flex-end;
    }

    .navicon {
        margin-top: 1.75vh;
        cursor: pointer;
    }
}

@media only screen and (min-width: 651px) {
    header {
        display: flex;
        justify-content: space-around;
        align-items: center;

        border: 5px solid black;
        position: -webkit-sticky;
        position: sticky;
        top: 0;

        background-color: var(--primaryColor);
    }

    header nav {
        min-width: 70vw;
    }

    header nav ul {
        display: flex;
        justify-content: space-around;
    }

    header nav ul li {
        transition: var(--transition);
        cursor: pointer;
    }

    header nav ul li:hover {
        transition: var(--transition);
        color: var(--hoverColor);
    }

    .navicon {
        display: none;
    }
}

@media only screen and (min-width: 900px) {
    header {
        font-size: 1.4rem;
    }

    header nav {
        min-width: 60vw;
    }
}

@media only screen and (min-width: 1050px) {
    header {
        font-size: 1.5rem;
    }

    header nav {
        min-width: 50vw;
    }

    header nav ul {
        justify-content: space-between;
    }
}





/* 
========
About
========
*/

@media only screen and (max-width: 650px) {

    /* adjusted the rotation here with margins so the navicon button can be clicked without having the rotation interfere with the click */
    #about {
        color: var(--backgroundColor);
        font-size: 2rem;
        /* margin: top right bottom left */
        margin: 5rem 1vw 5rem 50vw;
        text-align: center;

        background-color: var(--primaryColor);
        border-radius: 7px;
        transform: rotate(25deg);
        z-index: 2;
        text-shadow: 1px 1px 10px #1ea9ff,
        0 0 4px #1ea9ff;
    }

    .article-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 5rem;
        margin-left: 1rem;
    }

    .article-about p {
        width: 75vw;
        text-align: start;
        font-size: 1.35rem;
    }
}

@media only screen and (min-width: 651px) {
    #about {
        color: var(--backgroundColorTwo);
        font-size: 2.5rem;
        margin-bottom: 5rem;
        margin-left: 1rem;
        transform: rotate(355deg);
    }

    .article-about {
        display: flex;
        justify-content: space-around;
        margin-top: 2.5rem;
    }

    .article-about img {
        margin: 0 5rem;
        justify-self: center;
        align-self: center;
    }

    .article-about p {
        width: 50vw;
        font-size: 1.35rem;
        margin-right: 3rem;
    }
}

@media only screen and (min-width: 900px) {
    #about {
        transform: rotate(357deg);
    }

    .article-about {
        margin-top: 4rem;
    }

    .article-about img {
        margin: 0 7rem;
    }

    .article-about p {
        font-size: 1.6rem;
    }
}

@media only screen and (min-width: 1200px) {
    #about {
        font-size: 3.5rem;
        margin-left: 2rem;
    }

    .article-about p {
        width: 40vw;
    }
}





/* 
========
Skills
========
*/

@media only screen and (max-width: 650px) {
    #skills {
        color: var(--backgroundColor);
        font-size: 2rem;
        /* margin: top right bottom left */
        margin: 10rem 50vw 5rem 1vw;
        text-align: center;

        background-color: var(--primaryColor);
        border-radius: 7px;
        z-index: 2;
        transform: rotate(335deg);
        text-shadow: 1px 1px 10px #1ea9ff,
        0 0 4px #1ea9ff;
    }
}

@media only screen and (min-width: 651px) {
    .section-skills {
        display: none;
    }
}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1200px) {}





/* 
========
Portfolio
========
*/

@media only screen and (max-width: 650px) {
    #portfolio {
        color: var(--backgroundColor);
        font-size: 2rem;
        /* margin: top right bottom left */
        margin: 5rem 1vw 5rem 50vw;
        text-align: center;

        background-color: var(--primaryColor);
        border-radius: 7px;
        transform: rotate(25deg);
        z-index: 2;
        text-shadow: 1px 1px 10px #1ea9ff,
        0 0 4px #1ea9ff;
    }
}

@media only screen and (min-width: 651px) {
    .section-portfolio {
        display: none;
    }
}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1200px) {}





/* 
========
Contact
========
*/

@media only screen and (max-width: 650px) {
    #contact {
        color: var(--backgroundColor);
        font-size: 2rem;
        /* margin: top right bottom left */
        margin: 10rem 50vw 5rem 1vw;
        text-align: center;

        background-color: var(--primaryColor);
        border-radius: 7px;
        z-index: 2;
        transform: rotate(335deg);
        text-shadow: 1px 1px 10px #1ea9ff,
            0 0 4px #1ea9ff;
    }
}

@media only screen and (min-width: 651px) {
    .section-contact {
        display: none;
    }
}

@media only screen and (min-width: 900px) {}

@media only screen and (min-width: 1200px) {}